body{
    
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='34' height='34' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(186)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,0)'/%3E%3Ccircle cx='40' cy='20' r='0.25' fill='rgba(120, 10, 71,1)'/%3E%3Ccircle cx='0' cy='20' r='6.5' fill='rgba(120, 10, 71,1)'/%3E%3Ccircle cx='40' cy='20' r='6.5' fill='rgba(120, 10, 71,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    
    background-color: #A3034C;
    margin: 44px 0 0 0; /* Accounts for nav bar */
}

p, h1, ul {
    color: #EFE1CA; /* Chupi brand color */
    font-family: 'Amarante', cursive; /* Chupi brand font */
}

h2{
    color: #EFE1CA; /* Chupi brand color */
    font-family: 'Cedarville Cursive', cursive;
    font-size:xx-large;
    margin-top: 0px;
}

a {
    text-decoration: none; /* Removes underline from links */
}

div{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center{
    margin-left:auto;
    margin-right:auto;
}

/* Fade in elemets with class fadeIn */
    .fadeIn{
        animation: fadeIn 0.5s;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
/* End fade in */

/* Nav start */
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #310A1C;
        z-index: 10000;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav li, nav p {
        flex: 1;
        text-align: center;
        font-size: 20px;
    }

    nav a, nav p {
        display: block;
        padding: 12px 0px;
        color: white;
        transition: 0.3s;
        margin: 0;
    }

    nav a:hover, nav p:hover, .dropdown-content a:hover{
        background-color: #60CFC7;
    }

    .dropdown:hover .dropbtn {
    background-color: #427774;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #310A1C;
    z-index: 1;
    width: 25%;
    text-align:center;
    }

    .dropdown-content a {
    color: #FFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    .dropdown:hover .dropdown-content {
    display: block;
    }
/* Nav end */

.biobox{
    background: #EE3A6C;
    height: auto;
    text-align: center;
    width: 80%; 
    max-width: 900px; 
    border-radius: 25px;
    padding: 10px 0;
}

.modbox{
    max-width: 1050px;
    width: 80%;
    text-justify:auto;
    text-align: justify;
    
}

.tosbox{
    background: #EE3A6C;
    height: auto;
    text-align: center;
    width: 80%; 
    max-width: 1440px; 
    border-radius: 25px;
    padding: 10px 0;
}

.tosbox > ul{
    text-align: justify;
}

.tosbox > div > p >a{
    color: #E2ABCA;
}

.modbox > p {
    text-align: justify;
}

.modbox > img {
    border-radius: 50%;
    max-width: 200px; 
    min-width:100px; 
    height: auto;
}

.immovableObject {
    pointer-events: none;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 1;
}

@media only screen and (max-width: 700px){
    .desktopOnly{
        display: none !important;
    }
    .mobileOnly{
        display: block;
    }
}

@media only screen and (min-width: 700px){
    .desktopOnly{
        display: block;
    }
    .mobileOnly{
        display: none !important;
    }
}

.footer {
    background: #EE3A6C;
    height: 200px;
    text-align: bottom;
    padding: 20px;
}

#portfolioNav > p, #portfolioNav > a {
    margin: 20px;
    display: inline;
}

#portfolioNav > p:hover, #portfolioNav > a:hover {
    display: inline;
    text-decoration: underline dotted;
    font-weight: bold;
    transition-duration: 1s;
    transition-property: ease-in-out;
}


#portfolio {
    
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    width: 90%;
    margin: 0 auto;
}

#portfolio > a > img {
    max-height: 500px;
    min-height: 300px;
    height: auto;
    width: 100%;
    max-width: max-content;
    border-radius: 10px;
    margin:10px;
}